.view-pane {
  position: relative;
  width: 40rem;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: whitesmoke;
  border: 2px solid gainsboro;
  box-shadow: 2px 2px gainsboro;
  padding: 2rem;
}
.green {
  background-color: #2ecc71 !important;
  border: 1px solid #27ae60 !important;
}
.array-elements {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
  margin-bottom: 18px;
}
.header {
  text-align: center;
}
.minimum-value {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.block-element {
  display: flex;
}
.choose-heading {
  font-weight: bold;
  text-align: center;
}
.block-separator {
  width: 2px;
  height: 20px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: green;
}
.array-elements {
  display: flex;
  flex-wrap: wrap;
}
.input-group {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
}
.input-group input {
  margin-left: 0.5rem;
}
.input-group .input-group-text {
  width: 10rem;
}
.rmq-start {
  width: 10rem;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: dodgerblue;
  border-radius: 0.125rem;
  border: 1px solid royalblue;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
  user-select: none;
  color: white;
  text-align: center;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-bottom: 20px;
}
